@font-face {
    font-family: 'Northwell Alt';
    src: url('Northwell-Alt.woff2') format('woff2'),
        url('Northwell-Alt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

